<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @known_issue_pattern.content %>
</p>

<%= link_to 'Edit', edit_known_issue_pattern_path(@known_issue_pattern) %> |
<%= link_to 'Back', known_issue_patterns_path %>
