.pagination-condensed {
	margin-top: 5px;
	margin-bottom: 0px;
}

.hr-condensed {
	margin-top: 10px;
	margin-bottom: 20px;
}

.h-condensed {
	margin-top: 10px;
	margin-bottom: 5px;
}

.h-btn-align {
	margin-top: 8px;
	margin-bottom: 0px;
}
