* {
	border-radius: 0px !important;
}

.pagination-condensed {
	margin-top: 5px;
	margin-bottom: 0px;
}

.hr-condensed {
	margin-top: 10px;
	margin-bottom: 20px;
}

.h-condensed {
	margin-top: 10px;
	margin-bottom: 5px;
}

.h-btn-align {
	margin-top: 8px;
	margin-bottom: 0px;
}

.h-btn-sm-align {
	margin-top: 4px;
	margin-bottom: 0px;
}

.panel-title-btn-sm-align {
	height:20px;
	margin-top:5px;
	margin-bottom:5px;
}

.modal-header button.h4-align {
	margin-top: 2px;
}

.col-md-rcompact {
	padding-right: 0px;
}

.alert-condensed {
	padding: 10px;
}

.panel-body-condensed {
	padding: 10px;
}

.tbody-font-sm {
	font-size: 80%;
}